<div id="kt_app_header" class="app-header " data-kt-sticky="true" data-kt-sticky-activate="{default: true, lg: true}"
    data-kt-sticky-name="app-header-minimize" data-kt-sticky-offset="{default: '200px', lg: '0'}"
    data-kt-sticky-animation="false">
    <!--begin::Header container-->
    <div class="app-container  container-fluid d-flex align-items-stretch justify-content-between "
        id="kt_app_header_container">
        <!--begin::Logo-->
        <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
            <a href="/metronic8/demo1/index.html">
                <img alt="Logo" src="~/themes/metronic/assets/media/logos/logo-white.png"
                    class="h-20px h-lg-30px app-sidebar-logo-default theme-light-show" />
                <img alt="Logo" src="~/themes/metronic/assets/media/logos/logo-black.png"
                    class="h-20px h-lg-30px app-sidebar-logo-default theme-dark-show" />
            </a>
        </div>
        <!--end::Logo-->
        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
            @{
                await Html.RenderPartialAsync("_Menu");
            }
            @{
                await Html.RenderPartialAsync("_Navbar");
            }
        </div>
    </div>
</div>
